[submodule "nlassert"]
	path = third_party/nlassert/repo
	url = https://github.com/nestlabs/nlassert.git
	branch  = master
[submodule "nlio"]
	path = third_party/nlio/repo
	url = https://github.com/nestlabs/nlio.git
	branch  = master
[submodule "qrcode"]
	path = examples/common/QRCode/repo
	url = https://github.com/nayuki/QR-Code-generator.git
	branch  = master
[submodule "pigweed"]
	path = third_party/pigweed/repo
	url = https://github.com/google/pigweed.git
	branch  = main
[submodule "openthread"]
	path = third_party/openthread/repo
	url = https://github.com/openthread/openthread.git
	branch  = main
[submodule "ot-br-posix"]
	path = third_party/ot-br-posix/repo
	url = https://github.com/openthread/ot-br-posix.git
	branch  = main
[submodule "third_party/jsoncpp/repo"]
	path = third_party/jsoncpp/repo
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "editline"]
	path = third_party/editline/repo
	url = https://github.com/troglobit/editline.git
[submodule "third_party/libwebsockets/repo"]
	path = third_party/libwebsockets/repo
	url = https://github.com/warmcat/libwebsockets
	branch = v4.4-stable
[submodule "third_party/abseil-cpp/src"]
	path = third_party/abseil-cpp/src
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/nxp/k32w0_zigbee_bridge"]
	path = third_party/nxp/k32w0_zigbee_bridge
	url = https://github.com/nxp-imx-support/k32w0x_zigbee3_controlbridge.git
	branch = 2024q2
[submodule "third_party/imx-secure-enclave/repo"]
	path = third_party/imx-secure-enclave/repo
	url = https://github.com/nxp-imx/imx-secure-enclave.git
	branch = lf-6.18.2-1.0.0
[submodule "third_party/libtrustymatter/repo"]
	path = third_party/libtrustymatter/repo
	url = https://github.com/nxp-imx/libtrustymatter

