<div class="card-group">
    <mat-card>
        <img mat-card-image src="../../../assets/matteradvantages/interoperable.jpg" alt="Card image">
        <mat-card-content>
            <mat-card-title>Interoperable</mat-card-title>
            <mat-card-subtitle>The specification permits communication between any Matter-certified device, subject to users' permission.</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <img mat-card-image src="../../../assets/matteradvantages/open.png" alt="Card image">
        <mat-card-content>
            <mat-card-title>Open</mat-card-title>
            <mat-card-subtitle>Matter is built on proven technologies and open-source implementations, allowing for a wide range of options for development.</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <img mat-card-image src="../../../assets/matteradvantages/secure-png.png" alt="Card image">
        <mat-card-content>
            <mat-card-title>Secure</mat-card-title>
            <mat-card-subtitle>Matter is designed with best-in-class security technologies, the specification leverages modern security practices and protocols.</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>
